body {
padding: 0;
margin: 0;
}
#container
		{
			width:100%;
			position:relative;
			width:auto;
			height:auto;
			display:flex;
			margin:0 auto;
			padding:0;
		}

		#1td,#2td,#3td{
			padding:5px;
		}

		#col_left
		{
			float:left;
			width:25%;
			align:left;
			background:url("images/fulls/03.jpg");
			background-color: transparent; 
			height:auto;
			background-size:cover;
			line-height:25px;
			overflow:auto;
			padding-left:30px;
			padding-top:20px;
			padding-right:20px;
			background-size: cover;
			position:relative;
		}
		#col_left #down{
			position:absolute;
			bottom:0;
			right:0;
		}
		
		#col_right
		{
			float:left;
			
			width:75%;
			height:auto;
			padding-left:30px;
			padding-top:20px;
		}
		
		#col_left #dp
		{	
			align:center;
			border-radius:50%;
			width:100px;
			height:100px;
			float:right;
			background-image:url("images/avatar.jpg");
			
			}
		#col_left #name
		{
			font-family:"Comic Sans MS", cursive, sans-serif;
			font-size:25px;
			float:right;
			align:center;
			padding-right:20px;
		}
		#col_left #designation
		{
			font-family:"Comic Sans MS", cursive, sans-serif;
			font-size:17px;
			float:right;
			padding-right:20px;
		}
		#col_left #company
		{
			font-family:"Comic Sans MS", cursive, sans-serif;
			font-size:17px;
			font-color:black;
			float:right;
			padding-left:20px;
		}
			
		#col_left #down #github{
			
			width:30px;
			height:30px;
			float:bottom;
			padding-right:20px;
			padding-left:20px;
			padding-bottom:20px;
			position:relative;
			
			
		}

		#col_left #down #twitter{
			position:relative;
			width:30px;
			height:30px;
			float:bottom;
			padding-right:20px;
			padding-left:20px;
			padding-bottom:20px;
			
			
		}

		#col_left #down #message1{
			
			position:relative;
			width:30px;
			height:30px;
			float:bottom;
			padding-right:20px;
			padding-left:20px;
			padding-bottom:20px;
		}

		#col_right #header
		{
			width:auto;
			font-family:"Comic Sans MS", cursive, sans-serif;
			font-weight:bold;
			padding-bottom:15px;
		}
		
		#col_right #para
		{
			font-weight:normal;
			font-family:"Comic Sans MS", cursive, sans-serif;
			font-size:25px;
			
		}
		#col_right #learn
		{
			width:100px;
			height:50px;
			border-radius: 15px;
   			 border: 1px solid #73AD21;
    			background:white;
			font-family:"Comic Sans MS", cursive, sans-serif;
	
		}
	#col_right #bottom{
		padding-top:15px;
		border-bottom:3px solid #A9A9A9;
	}
	#col_right #Recent{
		padding-top:15px;
		padding-left:15px;
		height:75px;
		font-size:30px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	}

	#col_right #button2
	{
		border-radius:15px;
		background-image:url("images/thumbs/04.jpg");
		height:250px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		width:350px;
		background-size: cover;
	}
#mf{
	width:250px;
	height:100px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border-radius:10%;
	text-align:center;
}

	#col_right #work1
	{		
		width:300px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		height:400px;
		float:left;
		
		
		}
	#col_right #work2
	{		
		width:300px;
		height:400px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		float:left;
		
		
		
		}
	#col_right #button3
	{
		border-radius:15px;
		background-image:url("images/thumbs/03.jpg");
		height:250px;
		width:350px;
		background-size: cover;
	}
	#col_right #button4
	{
		border-radius:15px;
		background-image:url("images/thumbs/01.jpg");
		height:250px;
		width:350px;
		background-size: cover;}

#col_right #button5
	{
		border-radius:15px;
		background-image:url("images/thumbs/05.jpg");
		height:250px;
		width:350px;
		background-size: cover;}

#col_right #button6
	{
		border-radius:15px;
		background-image:url("images/thumbs/06.jpg");
		height:250px;
		width:350px;
		background-size: cover;}

#col_right #button7
	{
		border-radius:15px;
		background-image:url("images/thumbs/04.jpg");
		height:250px;
		width:350px;
		background-size: cover;
}

#col_right #work3
	{		
		width:300px;
		height:400px;
		float:left;
		padding-left:20px;
font-family:"Comic Sans MS", cursive, sans-serif;

		}

#col_right #work5
	{		
		width:300px;
		height:400px;
		float:left;
		//padding-left:20px;
font-family:"Comic Sans MS", cursive, sans-serif;

		}

#col_right #work4
	{		
		width:300px;
		height:400px;
		float:left;
		//padding-left:60px;
		//padding-right:20px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		}

#col_right #work6
	{		
		width:300px;
		font-family:"Comic Sans MS", cursive, sans-serif;
		height:400px;
		float:left;
		//padding-left:60px;

		//padding-right:20px;
		}

#col_right #floating {
    display: inline-block;
    width: auto;
    height: auto;
font-family:"Comic Sans MS", cursive, sans-serif;
}

#col_right #button8{
	border-radius:15px;
	height:50px;
	width:100px;
	background:white;
font-family:"Comic Sans MS", cursive, sans-serif;
}
#nf{
	background-color:e6e6fa;
	height:50px;
	width:180px;
	border-radius:10px;
font-family:"Comic Sans MS", cursive, sans-serif;
	text-align:center;
	}
#email{
	background-color:e6e6fa;
	height:50px;
	width:180px;
	padding-top:15px;
	border-radius:10px;
	padding-left:50px;
	text-align:center;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
#left{
	display:inline-block;
	float:left;
	width:50%;
padding-left:30px;
padding-top:20px;
font-family:"Comic Sans MS", cursive, sans-serif;		
}
#right{
	display:inline-block;
float:left;
width:50%
padding-left:30px;
padding-top:20px;
font-family:"Comic Sans MS", cursive, sans-serif;
}
#address_pic{
display:inline-block;
}
#phone_img{
	display:inline-block;
}
#message_img{
display:inline-block;
}
#container2{
display:inline-block;
}
td{
padding:20px;
}
